# 리스트

## 리스트란?
<pre>
우리는 앞서 하나의 값을 저장한 변수를 보았습니다.
하지만 다양한 값을 담아야 할 경우는 어떻게 해야 할까요?

리스트는
여러 값을 담을 수 있는 변수를 말합니다.
가방 = [책, 노트, 필통]
같이요.
그러면 리스트를 만들어 볼까요?

### 1.리스트 만들기
만드는 형식은 두 가지 인데 하나씩 해보죠.

#### 리스트 만들기 방법1
<pre>
리스트명 = [ ]

리스트는 대괄호로 이루어져 있습니다.
그 안에 값이 없는 빈 리스트 일 수도 있지요.
다양한 값을 넣어서 리스트를 만들 수도 있어요.

리스트 명은 어떤 것이어도 상관없습니다.
다만 class, def, if, elif, else, while 등은 사용할 수 없습니다.
숫자가 맨 처음에 오는 것도 안되요.

In [0]:
# list1 이라는 빈 리스트를 만들어 보겠습니다.

In [0]:
list1 = []

In [0]:
# list1 이라는 이름의 리스트를 만들었습니다.
# 이를 출력해 볼까요?

In [0]:
print(list1)

[]

In [0]:
# list1에는 아무 값도 넣지 않았으므로 빈 리스트가 보이는 것을 확인 할 수 있습니다.
# list2를 만들되 값으로 1, '철수', True를 넣어서 만들어 봅시다.

In [0]:
list2 = [1, '철수', True]

In [0]:
# 만든 list2를 출력해 볼까요?

In [0]:
print(list2)

[1, '철수', True]

In [0]:
# 값이 잘 들어가 있는 것을 확인 할 수 있습니다.

#### 리스트 만들기 방법2
리스트 이름 = list()

In [0]:
# 위 방법으로 list3를 만들어 볼까요?

In [0]:
list3 = list()

In [5]:
type(list3)

list

In [0]:
# 만든 list3를 출력해 봅시다.

In [0]:
print(list3)

[]

In [0]:
# 빈 리스트가 뜨는 것을 확인 할 수 있습니다.
# 리스트를 만들어주는 일을 하는 list() 라는 함수를 이용해서 만들어 보았습니다.
# 리스트에 값을 넣어서 만들 수도 있습니다.
# list4를 '철수'를 넣어서 만들어 봅시다.

In [0]:
list4 = list('철수')

In [0]:
# list4를 출력해 볼까요?

In [0]:
print(list4)

['철', '수']

In [0]:
# 우리가 원했던건 '철수'인데 '철'과 '수'가 나왔네요.
# 우리가 원하는 형태인 '철수'를 넣으려면 어떻게 해야할까요?
# list4에 ['철수']를 넣어 만들어 봅시다.

In [0]:
list4 = list(['철수'])

In [0]:
# 다시 list4를 출력해 볼까요?

In [0]:
print(list4)

['철수']

In [0]:
# 원하는 대로 '철수'가 들어가 있는 것을 확인할 수 있습니다.
# 그러면 list5를 만들어서 [1, '철수', True]를 넣어서 만들어 볼까요?

In [0]:
list5 = list([1, '철수', True])

In [0]:
# list5를 출력해서 확인해 볼까요?

In [0]:
print(list5)

[1, '철수', True]

In [0]:
# 리스트 5가 잘 만들어지는 것이 보이네요.